/* ================================
   Variables globales
================================ */
:root {
  /* Colores */
  --color-primary: #2d2a2a;
  /* Marrón oscuro / fondo */
  --color-secondary: #c7a17a;
  /* Dorado claro / acento */
  --color-white: #ffffff;
  --color-text: #1e1e1e;
  --color-text-secondary: #777777;
  --color-background: #ffffff;
  --color-background-2: #f5f5f5;
  --color-background-3: #111111;

  /* Tipografía */
  --font-main: 'Oswald', Arial, Helvetica, sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-sm: 14px;
  --font-secondary: 'Lato', Arial, Helvetica, sans-serif;

  /* Espaciado */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Bordes */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;

  /* Sombra */
  --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ================================
   Estilos base
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-secondary);
}

.general-subtitle {
  font-family: var(--font-main);
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 0;
  line-height: 3.2rem;
  margin-left: 4rem;
}

.general-span {
  font-family: var(--font-main);
  color: var(--color-white);
  font-weight: 600;
  font-size: 4.3rem;
  line-height: 4.9rem;
  display: block;
  text-align: left;
  margin-left: 4rem;
}

.general-description {
  font-family: var(--font-secondary);
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-top: 0.3rem;
  display: block;
  text-align: left;
  margin-left: 4rem;
}

/* ================= Estilos modo oscuro (a futuro) 
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1a1a1a;
    --color-text: #f5f5f5;
  }
} 
=================================================== */

/* Ejemplo de uso de variables */
h1,
h2,
h3 {
  color: var(--color-text);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  box-shadow: var(--shadow-light);
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.separador {
  border: none;
  height: 2px;
  background-color: var(--color-secondary);
  /* o #000, #ccc, etc. */
  margin: 1rem 0;
  /* espacio arriba y abajo */
  width: 120px;
  /* o un valor como 80% */
}

.header-oscuro {
  background-color: var(--color-background-3);
  color: var(--color-white);
  min-height: 90px;
  padding: var(--spacing-md);
  height: 140px;
}