.contenedor-principal {
    width: 90%;
    margin: 10rem auto 2.5rem auto;
    padding: 1.25rem;
    overflow-x: hidden;
}

.intro-trabaja {
    display: flex;
    text-align: center;
    margin-bottom: 2.5rem;
    flex-direction: column;
    align-items: center;
}

.pre-titulo {
    color: var(--color-secondary, #c7a17a);
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.titulo {
    color: var(--color-primary, #2d2a2a);
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.descripcion {
    font-size: 0.85rem;
    margin-bottom: 2.5rem;
    color: var(--color-text-secondary);
}

/* Usamos Flexbox en la fila para crear las columnas */
.fila-form {
    font-family: var(--font-secondary);
    display: flex;
    gap: 20px;
}

.fila-form .campo {
    font-family: var(--font-secondary);
    flex: 1;
}

form label {
    font-family: var(--font-secondary);
    font-weight: 300;
    display: block;
    font-weight: 600;
    color: #444;
    margin-bottom: 8px;
    font-size: 0.9em;
}

/* Espaciado para los campos que no están en una fila */
form>label {
    margin-top: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="file"],
form select,
form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1em;
    margin-bottom: 1.25rem;
}

form textarea {
    resize: vertical;
    min-height: 120px;
}

.boton-enviar {
    background-color: #c7a17a;
    color: white;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 0.8rem;
    width: 20%;
    padding: 1rem 1.9rem;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    appearance: button;
}


@media (max-width: 768px) {
    .titulo {
        font-size: 2.2em;
    }

    .boton-enviar {
        width: 40%;
    }


    .fila-form {
        flex-direction: column;
        gap: 0;
    }
}