.header{
    background-color: var(--color-background-3)
}

.intro-tutoriales {
    text-align: center;
    padding: 40px 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
   
}

.intro-tutoriales > p{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-text-secondary);
    font-family: var(--font-inter);
}

.tutoriales-lista {
display: grid;
/* grid-template-columns: repeat(2, 1fr); */
grid-template-columns: 35% 35%;
justify-content: center;
gap: 60px;
padding: 20px 0;
}

.tutorial-item{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative; 

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; 
    border-radius: 8px; 
    overflow: hidden; 
}

.tutorial-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Negro con 40% de opacidad */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.tutorial-item:hover::before {
    background-color: rgba(0, 0, 0, 0.6); 
}

.tutorial-item .content {
    position: relative; /* o z-index: 1; */
    cursor: pointer;
}
.tutorial-item .tipo-cafe {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.tutorial-item .ver-pasos {
    display: inline-block;
    margin-top: 8px;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.tutorial-item h4{
    font-size: var(--spacing-lg);
    font-family: var(--font-main);
}

.div1{
    background-image: url(../img/1\ -\ Tienda-de-Café-tutorial_119-scaled-460x306.jpg);
}
.div2{
    background-image: url(../img/2-\ Cafeterra.jpg);
}   
.div3{
    background-image: url(../img/3\ -\ chemex03_306x460.jpg);
}
.div4{
    background-image: url(../img/4\ -\ aeropress02_306x460.jpg);
}
.div5{
    background-image: url(../img/5\ -\ moka_306x460.jpg);
}
.div6{
    background-image: url(../img/6\ -\ Tienda-de-Café-tutorial_281-scaled-460x306.jpg);
}

/* --- Diseño Responsivo --- */
@media (max-width: 768px) {
    .tutoriales-lista {
        /* En pantallas chicas, pasamos a 1 sola columna */
        grid-template-columns: 1fr;
    }
}