<nav id="mainNav" class="main-nav">
  <div>
    <a href="index.html" id="nav-logo">
      <img src="img/Logo-tdc.png" alt="Tienda de Café" />
    </a>
  </div>
  <ul class="nav-menu">
    <li><a href="tienda.html">NUESTRO CAFÉ</a></li>
    <li><a href="tutoriales.html">TUTORIALES</a></li>
    <li><a href="#">LOCALES</a></li>
    <li><a href="menu-tienda.html">NUESTRO MENÚ</a></li>
    <li><a href="trabaja-en-tdc.html">TRABAJÁ CON NOSOTROS</a></li>
    <li><a href="franquicias.html">FRANQUICIAS</a></li>
    <li><a href="contacto.html">CONTACTO</a></li>
  </ul>
</nav>
